<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Yangi maqola</title>
</head>
<body>
    <form method="POST">
        <input name="title" id="textarea" placeholder="Title.."><br>
        <input name="content" id="textarea" placeholder="What would you like to write?"><br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/logout">Log out</a>
</body>
</html>