<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe</title>
</head>
<body>

    <div class ="first-container">
        <h3>Subscribe to my blog</h3>
        <form action="/subscribe" method="POST">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <input type="submit">
        </form>
        <p>get an email, every time I wrote a blog!</p>
    </div>
</body>
</html>